---
import Layout from '../../../../layouts/Layout.astro'
import { Navbar } from '../../../../components/Navbar.jsx'
import { Footer } from '../../../../components/Footer.jsx'
import { ScrollUpButton } from '../../../../components/ScrollUpButton.jsx'
---
<Layout title="High Volume Fast Production & Wholesale" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>cotton-event-cactus-studio-2</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/embroidery/los-angeles-fashion-embroidery-services-dtg-direct-to-garment-printing-custom-tour-jacket-the-weekend-la.jpg"
      alt="High Volume Fast Production & Wholesale"
      width="500"
      height="500"
    />
    <figcaption>High Volume Fast Production & Wholesale</figcaption>
  </figure>
  <div class="text-content">
  <p>Our customers turn to our bulk, high volume production and wholesale for embroidery, direct to garment printing (DTG), digital dye sublimation printing, proprietary photographic embroidery, screen printing services, and more.
Our unique techniques and methods, in combination with high volume production allow for unlimited potential for any customer’s need.
</p>
</div></div>
<p>
Contact us if you are preparing for a large promo event, trade show, celebrity tour, launching a retail line, or need fashion apparel production done fast.</p>

<p>Expect superior customer service, best color matching and quick turnaround from our professional staff.</p>

<h2>We are a high volume embroidery in Los Angeles:</h2>
<ul>
   <li> Embroidery logo on hats or constructed garments: max. output 2600 caps/day</li>
    <li>Embroidery on flat goods or patches: max. output 5000 pcs/day</li>
   <li> Manual Screen Printing capacity: 500 pcs/day</li>
   <li> Automatic Screen Printing Capacity: 5000 pcs/day</li>
   <li> Digital Sublimation Printing: 400 yards max daily capacity (or the equivalent in cut pieces)</li>
    <li>Rotary Printing Pigment or Wet (on cotton fabrics): 4000 yards/day</li>
    <li>Laser Cutting: 2 new laser heads capable of cutting up to 1000 patches /hour.</li>
    </ul>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>