---
import Layout from '../../../../layouts/Layout.astro'
import { Navbar } from '../../../../components/Navbar.jsx'
import { Footer } from '../../../../components/Footer.jsx'
import { ScrollUpButton } from '../../../../components/ScrollUpButton.jsx'
---
<Layout title="Custom Cotton On Event at the Promenade Santa Monica" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Custom Cotton On Event at the Promenade Santa Monica</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/events-gallery/cotton-on/20170802_161812v.jpg"
      alt="Custom Cotton On Event at the Promenade Santa Monica"
      width="500"
      height="500"
    />
    <figcaption>Custom Cotton On Event at the Promenade Santa Monica</figcaption>
  </figure>
  <div class="text-content">
  <p></p>
</div></div>


</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
