---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>3D Putt Hat Embroidery Los Angeles</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/embroidery/custom-hat-embroidery-los-angeles-3d-puff-embroidery.jpg"
      alt="3D Putt Hat Embroidery Los Angeles"
      width="500"
      height="500"
    />
    <figcaption>3D Putt Hat Embroidery Los Angeles</figcaption>
  </figure>
  <div class="text-content">
  <p>Photographic Embroidery is a patented process in which we combine embroidery and printing together. This results in a stunning effect yielding millions of colors and halftones or shades not possible with regular embroidery. It is especially effective for converting logos with many colors or photographic images into embroidery. We have refined this technique and can provide you with samples like you have never seen before. Give us a call!</p>
</div></div>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
