---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="About E&R Unlimited | Expert Garment Embellishment in LA" Description="E&R Unlimited - premium embroidery, screen printing, DTG, digital sublimation, heat transfer, cut&sew, fabric printing. Trusted by top brands.">
  <Navbar client:load />
  <div class="container mx-auto p-4 mt-8">
  <h1>About E&R Unlimited</h1>
  
  <p>E&R Unlimited Inc. is your one stop shop for all garment related needs. With a professional staff, centrally located facility, great customer service, and unsurpassed quality, we have been providing the garment industry with embellishment and fabric printing services for nearly a decade.</p>

<p>Our list of high profile clientele has included L.E.I. Jeans, True Religion, Not Your Daughter’s Jeans, Evy of CA, and many more. Our Corporate Promotional Apparel division, iMPACT Logo Wear, has an extensive list of promotional items to choose from and can process a variety of orders using techniques such as embroidery, screen printing, digital printing and decaling to make uniforms and other apparel stand out for your business. Our customers are very satisfied with our quick turnaround and personalized attention. With our services, the possibilities for embellishing your garments are limitless.<p>

<p>Privacy Terms<p>

<p>“No Mobile information will be shared with third parties/affiliates for marketing/promotional purposes. All the above categories exclude text messaging originator opt-in data and consent; this information will not be shared with any third parties.</p>

</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
