---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---
<Layout title="Los Angeles Custom Embroidery | High-Quality (323) 584-3000" description="High-volume custom embroidery in LA with 30+ years of experience. Trusted by top brands & celebrities. Fast turnaround & unmatched quality!"
  <div class="container mx-auto p-4">
   <h1 class="text-3xl font-bold mb-8">Los Angeles Custom Embroidery Services - Unlimited Potential</h1>
       
<div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/content/custom-embroidery-on-denim-los-angeles.webp"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>Custom Embroidery on Denim Services </figcaption>
  </figure>
  <div class="text-content">
     <p>We create custom patches, couture apparel, corporate logos, and more. Embroidery services are our specialty!</p>
            <h2 class="text-2xl font-bold mb-4">1. Over 30 years of experience in the fashion industry.</h2>
            <p>Our clients include Justin Bieber, Travis Scott, THE WEEKND, Selena Gomez, and Kim Kardashian. We worked with many fashion brands such as True Religion, Vlone, Disney Fashion, Hudson, Pascun, NYDJ, Hybrid Apparel, Bravado, BlackMilk, BCBGMAXAZRIA, Frame Denim, and Lucky Brand.</p>
            <h2 class="text-2xl font-bold mb-4">2. Unique and proprietary photographic embroidery technique.</h2>
            <p>This technique creates millions of colors and halftones not possible with regular embroidery. It is especially effective for converting colorful logos and photographic images into embroidery.</p>
  </div>
</div>


<div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/content/custom-photographic-embroidery-los-angeles.webp"
      loading="lazy"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>Proprietery Photographic Embroidery Tecnique</figcaption>
  </figure>
  <div class="text-content">
    <h2 class="text-2xl font-bold mb-4">3. High quality, best color matching, and quick turnaround.</h2>
            <p>We carefully attend to each customer to produce the best results in a timely manner.</p>
            <h2 class="text-2xl font-bold mb-4">4. Unlimited potential.</h2>
            <p>We provide embroidery, photographic embroidery, digital sublimation printing, laser cutting, screen printing, DTG, & heat transfer services. All these can be combined or used separately to create amazing results! We can create 3D puff embroidery, as well as sequins embroidery, velvet stitch embroidery, embroidery with metallic threads and specialty threads, custom patches with clean satin stitch borders, and more.</p>
  </div>
</div>
            <h2 class="text-2xl font-bold mb-4">3. High quality, best color matching, and quick turnaround.</h2>
            <p>We carefully attend to each customer to produce the best results in a timely manner.</p>
            <h2 class="text-2xl font-bold mb-4">4. Unlimited potential.</h2>
            <p>We provide embroidery, photographic embroidery, digital sublimation printing, laser cutting, screen printing, DTG, & heat transfer services. All these can be combined or used separately to create amazing results! We can create 3D puff embroidery, as well as sequins embroidery, velvet stitch embroidery, embroidery with metallic threads and specialty threads, custom patches with clean satin stitch borders, and more.</p>
        
        

<div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/content/custom-embroidery-in-los-angeles.webp"
      loading="lazy"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>High Volume Embroidery Services</figcaption>
  </figure>
  <div class="text-content">
    <h2 class="text-2xl font-bold mb-4">3. High quality, best color matching, and quick turnaround.</h2>
            <h2 class="text-2xl font-bold mb-4">5. Custom embroidery services with high volume production & wholesale.</h2>
            <p class="text-gray-700">Anything at E&R can be done on a large scale. Embroidery logo on hats or constructed garments: max. output 2600 caps/day – Embroidery on flat goods or patches: max. output 5000 pcs/day – Manual Screen Printing capacity: 500 pcs/day – Automatic Screen Printing Capacity: 5000 pcs/day – Digital Sublimation Printing: 400 yards max daily capacity (or the equivalent in cut pieces) – Rotary Printing Pigment or Wet (on cotton fabrics): 4000 yards/day – Laser Cutting: 2 new laser heads capable of cutting up to 1000 patches/hour.</p>
  </div>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
