---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout  title="" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Custom hat embroidery</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/embroidery/custom-hat-embroidery-los-angeles-3d-puff-embroidery.jpg"
      alt="Custom hat embroidery"
      width="500"
      height="500"
    />
    <figcaption>Custom hat embroidery</figcaption>
  </figure>
  <div class="text-content">
  <p>Custom hat embroidery is one of our most popular services. Our customers appreciate the fast paced production process and huge potential. Well trained staff of profesionals gets the job done quick and with best results.</p>
</div></div>



<h2>Our Differance in Hat Embroidery</h2>
<ul>
<li>Unlimited potential: We use a variety of techniques/services or their combinations to create your perfect hat. We offer: embroidery, digital dye sublimation printing , direct to guarment printing, heat transfer, nail heads, and rhynesrtones.</li>
<li>Proprietary photographic embroidery process: this teqnique results in stunning effect yielding millions of colors and halftones and shades not possible with regular embroidery. This teqnique takes embroidery to the next level that our compatitors can not match to.</li>
<li>Superior customer service: our team of dedicated profesionals stay on task in every step of the way. Services at E&R are personalized and tailored to your very specific needs.</li>
<li>Blanks: We probide blank hats and you can bring your own.</li>
<li>High vollume hat production with wholesale pricing: our current capacity for embroidered logo on hats or constructed garments is 2600 caps/day.</li>
<li><li>Vast expirience: we specialize in custom logo wear as well as custom fashion apparel. Our customers include companies, high fashion brands, and celebrities. We can tackle any task.</li>
<li>Convinience: everything is done in house under one roof.</li>
<li>Made in the US</li></ul>
<p>E&R offers a wide variety of hat products: custom embroidered caps, hats, snapbacks, bill hats, performance hats, trucker hat, uniform hats, visors, camouflage hats, beanie, rhinestones heat transfers service, 3D puff embroidery hats, partial 3D puff embroidery hats, flat embroidery hats amd more.</p>



</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
