---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>High-End Fashion Product Development Services</h1>
 <p>We are the leading fashion product development house in Los Angeles with high volume production and wholesale pricing. We take pride in our excellent quality, individualized customer service, talented graphic artists and digitizers, and quick turnaround. If you are just starting out in developing your brand, or have been in business for years, our exceptional staff will work with you to meet and exceed all your expectations. Embroidery, Photographic Embroidery, screen printing, Digital sublimation printing, laser cutting, fabric printing, and heat transfers, are just some of the services we provide so you can develop your product in one place, saving you time and money. Some of our current clients include Hudson Jeans, Frame Denim, J-Brand, NYDJ, PacSun and Hybrid Apparel, as well as artists, actors and bands developing their tour apparel. </p>
 <h2>Custom High Fashion Embroidery</h2>
 <p>Our dedicated in-house graphic artists have years of experience within the garment industry and are ready to help with all of your product development needs. Our graphics department specializes in print repeats, separations, hangtag and label design, branding, and logo design. Many of our clients have utilized our design services and find it makes for a smoother product development experience.</p>
 <h2>Custom Patches</h2>
 <p>Best custom embroidery patches in Los Angeles for your organization, company, or fashion brand. Add your customized design to any article of clothing regardless of size, shape, or fabric.</p>
 <h2>Photographic Embroidery</h2>
 <p>Photographic Embroidery is a patent pending process in which we combine embroidery and printing together. This results in a stunning effect yielding millions of colors and halftones or shades not possible with regular embroidery. It is especially effective for converting logos with many colors or photographic images into embroidery. We have refined this technique and can provide you with samples like you have never seen before.</p>
 <h2>Sublimation/Digital Printing</h2>
 <p>With the latest and fastest Mimaki digital printing and in combination with our top tier Monti Antonio Italian rotary heat press, we are able to provide you with the highest quality digital sublimation service. Not to mention quickly! Everything is done in house. You will notice a high degree of ink penetration and rich blacks as well as vibrant reds on your polyester fabrics. For low volume, high quality, customized sublimation, we are your one stop shop.</p>
 <h2>Screen Printing and Direct To Garment (DTG) Digital Printing</h2>
 <p>We pride ourselves with quick turn time printing samples and production. With all the screen printing techniques we provide such as plastisol, water based inks, foils, flocking, glitters, caviar beads, etc, E&R Unlimited is your best source for screen printing services. We also provide photo realistic prints using Direct To Garment Printing (DTG). Call us for more details.</p>
 <h2> Heat Transfer Vinyl/ Rhinestones/ Nail heads</h2>
 <p>Vinyl is an ideal solution for low volume runs with high amount of colors or photo realistic designs. It also works great when you need to print a design on a garment or substrate that doesn’t lend itself to being screen printed due to placement or type of fabric. (For example, a printed logo on the belly of a stuffed animal) or printed flames on sides of basketball shorts that have a double layer which would be hard to screen print. Print/Cut is an ideal solution in these cases. We use Digital Roland printing which has precise cutting for accurate results!<p>
<p>We also provide heat transfer rhinestones, nail heads/studs, and flocking as well as fake leather (pu). These techniques are good to add pizzazz to any garment.</p>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
