---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Custom Heat Transfers in Los Angeles | Full-Color Printing" Description="High-quality heat transfer printing in LA for apparel, sportswear & events. We offer vibrant vinyl, foil, glitter & flock applications & more!">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Los Angeles Full Color Custom Heat Transfers Services</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/content/los-angeles-vinal-heat-transfer-services-team-sports-jerseys-apparel-marketing-events.jpg"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>Los Angeles Heat Transfers Services</figcaption>
  </figure>
  <div class="text-content">
  <p>We offer quality heat transfer services for your business, sports team, fashion apparel and special events with affordable prices and prime customer service.</p>

<p>We can apply heat transfer on anything from t-shirts, jerseys, hats, and even tote bags. Your options are limitless.</p>

<p>Our in-house graphic designers can assist you in any graphic needs or you can create your own designs. We will make sure they look outstanding.</p>

<p>Vinyl is an ideal solution for colorful logos and artwork or photo-realistic designs. It also works great when you need to print a design on a garment or substrate that doesn’t lend itself to being screen printed due to placement or type of fabric. We employ Roland vinyl digital print and cut systems for vibrant and accurate results!</p>

<p>Our specialty applications include foil, glitter, and flock. You can depend on us to produce prime quality logos, designs and graphic heat applied transfers that are all set to be applied to apparel items of your choice.</p>
</div></div>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
