---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Tailcast">
  <Navbar client:load />
  <div class="image-text-container">
  </div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>