---
import Layout from '../../../../layouts/Layout.astro'
import { Navbar } from '../../../../components/Navbar.jsx'
import { Footer } from '../../../../components/Footer.jsx'
import { ScrollUpButton } from '../../../../components/ScrollUpButton.jsx'
---

<Layout title="" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Promotional Products, Promo And Logo Wear</h1>
  <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/content/promo-products-los-angeles.png"
      alt="Promotional Products, Promo And Logo Wear"
      width="500"
      height="500"
    />
    <figcaption>Promotional Products, Promo And Logo Wear</figcaption>
  </figure>
  <div class="text-content">
  <p>As part of a network of thousands of factories in the U.S.A. and abroad, in addition to our own in house capabilities, we are happy to provide you with ANY custom logo product. From pens, to mugs, to apparel, tote bags, floormats, usb charging banks, etc., we would be glad to provide you a free quote and will strive to match or beat any competitor’s quote. We are your one stop shop for all custom logo and promo products. Call us for a free quote or fill out the form.</p>
</div></div>

 <h1>Custom Apparel</h2>
<p>We have been in the custom Embroidery and Screen Printing business for over 25 years. Contact us if you need lowe and promo wear, work wear, and corporate apparel.</p>
   Promotional Products
<p>We have a variery of promotional products to help you brand yourself. Mugs, hats, caps, wrist bands, mouse pads, pens, ect.</p>
  <h2> Table Covers</h2>
<p>100% premium polyester – 3 sided seamless table covers. Full color print digital sublimation. NO setup charge! Production leadtime 3-7 Business Days After Approval. Min order qty – 1 table cover.</p>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
